.mini-layout-body {
    background-color: #dceaf4;
    display: inline-block;
    float: none;
    width: 50%;
    overflow: auto;
}

.mini-layout {
    white-space: nowrap;
    overflow: hidden;
}

.mini-layout-sidebar {
    background-color: #bbd8e9;
    height: 600px;
    display: inline-block;
    float: none;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
}

.mini-layout-object {
    background-color: #ccc;
    height: 900px;
    overflow: auto;
}

.callsIn {
}

.callsOut {
}